@media screen and (min-width: 768px) {

  .header__logo {
    font-size: 1.5rem;
    margin: 2rem;
  }

  .main {
    display: flex;
    align-items: center;
    margin-right: 2rem;

  }

  .responsive {
    display: none;
  }

  .main-list {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-right: 2rem;
  }

  .main-list>a>li {
    font-size: 1.5rem;
    margin-left: 1.2rem;

  }

  .header__icons--buy-icon {
    width: 1.5rem;
    margin-right: 1.4rem;
  }

  .header__icons--heart-icon {
    width: 1.5rem;
    margin-right: 1.4rem;

  }

  .header__icons--user-icon {
    width: 1.5rem;
    margin-right: 1.4rem;

  }

  .header__bars {
    display: none;

  }

  .search {
    margin-top: 0rem;
    margin-right: 1.2rem;

  }

  .search>input {
    padding: 0.5rem 0.7rem 0.5rem 2rem;
  }

  .search>img {
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.7rem;
  }

  .header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .header__content-right {
    grid-column: 2/3;

  }

  .header__content-title {
    grid-row: 1/2;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;

  }

  .header__content-title>span {
    color: rgb(177, 177, 177);
    font-size: 1.8rem;
    text-align: start;
  }

  .header__content-title>h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
    line-height: 3rem;


  }



}

@media screen and (min-width: 900px) {
  .header__logo {
    font-size: 2rem;
    margin: 2rem;
  }

  .main {
    display: flex;
    align-items: center;
    margin-right: 2rem;

  }

  .responsive {
    display: none;
  }

  .main-list {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-right: 1rem;
  }

  .main-list>a>li {
    font-size: 1.5rem;
    margin-left: 1.2rem;

  }

  .header__icons {
    margin-top: 0rem;
    margin-right: 5rem;

  }

  .search>input {
    padding: 0.8rem 0.7rem 0.5rem 2rem;
  }

  .header__icons--buy-icon {
    width: 1.8rem;
    margin-right: 2rem;
  }

  .header__icons--heart-icon {
    width: 1.8rem;
    margin-right: 2rem;

  }

  .header__icons--user-icon {
    width: 1.8rem;
    margin-right: 2rem;

  }

  .header__bars {
    display: none;

  }

  .search {
    margin-top: 0rem;
    margin-left: 3rem;
    width: 25rem;

  }

  .search>img {
    right: 1rem;
    top: 0.7rem;
  }


  .header__content-title>span {
    color: rgb(177, 177, 177);
    font-size: 2.4rem;

  }

  .header__content-title>h1 {
    font-size: 3.2rem;
    margin-top: 2.5rem;
    line-height: 3.2rem;
  }

  .btn {
    height: 5rem;
    width: 17rem;
    padding: 1.3rem 2rem 3rem 2rem;
    font-size: 1.8rem;
    margin-top: 2.2rem;

  }
}

@media screen and (min-width: 1024px) {
  .main-list>a>li {
    font-size: 1.8rem;
    margin-left: 1.5rem;

  }

  .search {
    margin-top: 0rem;
    margin-left: 3rem;
    width: 30rem;

  }

  .search>input {
    height: 3.4rem;
  }

  .search>img {
    top: 0.6rem;
    right: 0.8rem;
  }

  .header__icons {
    margin-top: -0.3rem;
    margin-right: 10rem;

  }

  .header__icons--buy-icon {
    width: 1.8rem;
    margin-right: 2.7rem;
  }

  .header__icons--heart-icon {
    width: 1.8rem;
    margin-right: 2.7rem;

  }

  .header__icons--user-icon {
    width: 1.8rem;
    margin-right: 2.7rem;

  }

  .main {
    display: flex;
    align-items: center;
    margin-right: 10rem;

  }


  .search>img {
    right: 1rem;
    top: 0.7rem;
  }


  .header__content-title>span {
    color: rgb(177, 177, 177);
    font-size: 2.2rem;

  }

  .header__content-title>h1 {
    font-size: 3.7rem;
    margin-top: 3rem;
    line-height: 3.5rem;
  }

  .btn {
    height: 6rem;
    width: 18rem;
    padding: 1.8rem 2rem 3rem 2rem;
    font-size: 2rem;
    margin-top: 2.5rem;

  }


}

@media screen and (min-width: 1024px) {

  .header__logo {
    font-size: 2.6rem;

  }

  .main-list>a>li {
    font-size: 1.8rem;
    margin-left: 2rem;

  }

  .search {
    margin-top: 0rem;
    margin-left: 8rem;

  }

  .header__icons--buy-icon {
    width: 2rem;
    margin-right: 3.5rem;
  }

  .header__icons--heart-icon {
    width: 2rem;
    margin-right: 3.5rem;

  }

  .header__icons--user-icon {
    width: 2rem;
    margin-right: 3.5rem;

  }

  .header__content {
    margin-top: 6rem;
  }

  .header__content-title>span {
    color: rgb(177, 177, 177);
    font-size: 2.5rem;

  }

  .header__content-title>h1 {
    font-size: 4rem;
    margin-top: 4rem;
    line-height: 3.8rem;
  }

  .btn {
    height: 7rem;
    width: 20rem;
    padding: 2.2rem 2rem 3rem 2rem;
    font-size: 2.5rem;
    margin-top: 3rem;

  }
}