@media screen and (min-width: 425px) {


  .header__content-title {
    margin-top: 25rem;
  }

  .collection {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .collection__left {
    max-width: 70rem;
    width: 100%;
    height: 25rem;
    margin-bottom: 2rem;
  }

  .collection__left>img {
    width: 60%;
    /* margin-left: 4rem; */
  }

  .collection__left>div {
    font-size: 4rem;
    margin-left: 3rem;
    align-items: center;

  }

  .collection__right {
    margin-top: 0rem;
    max-width: 70rem;
    height: 25rem;

  }

  .collection__right>img {
    width: 60%;

  }

  .collection__right>div {
    font-size: 4rem;

  }


  .new-arrivals__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .new-arrivals__description {
    font-size: 1.5rem;
  }

}




@media screen and (min-width: 768px) {

  .header__top {
    padding: 2rem 0rem 1rem 7rem;
  }

  .header__logo {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }

  .main {
    display: flex;
    align-items: center;
    margin-right: 2rem;

  }

  .responsive {
    display: none;
  }

  .main-list {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-right: 2rem;
  }

  .main-list>a>li {
    font-size: 1.3rem;
    margin-left: 1.2rem;

  }

  .header__icons--buy-icon {
    width: 1.5rem;
    margin-right: 1.4rem;
  }

  .header__icons--heart-icon {
    width: 1.5rem;
    margin-right: 1.4rem;

  }

  .header__icons--user-icon {
    width: 1.5rem;
    margin-right: 1.4rem;

  }

  .header__bars {
    display: none;

  }

  .search {
    margin-top: 0rem;
    margin-right: 1.2rem;

  }

  .search>input {
    padding: 0.5rem 0.7rem 0.5rem 2rem;
    height: 2.5rem;
  }

  .search>img {
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.2rem;
  }

  .header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 5rem;
    margin-left: 5rem;
    padding-bottom: 6rem;

  }

  .header__content-right {
    grid-column: 2/3;
    margin-top: 2rem;

  }


  .header__content-title {
    grid-row: 1/2;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;

  }

  .header__content-title>span {
    color: rgb(177, 177, 177);
    font-size: 1.8rem;
    text-align: start
  }

  .header__content-title>h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
    line-height: 3rem;


  }

  .options {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

  }

  .collection__left {
    max-width: 37rem;
    width: 100%;
    height: 22rem;
    grid-column: 2/3;
    margin-top: 2rem;

  }

  .collection__right {
    margin-right: 2rem;
    margin-top: 0rem;
    max-width: 37rem;
    height: 22rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .baby-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    place-items: center;
    margin-bottom: 3rem;
  }

  .baby-collection__right {
    grid-column: 2/3;
  }

  .baby-collection__left {
    grid-row: 1/2;
  }

  .new-arrivals {
    margin-top: 8rem;

    margin-bottom: 8rem;
  }

  .new-arrivals__title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .new-arrivals__description {
    font-size: 1.8rem;
    color: #777777;
  }

  .new-arrivals__menu {
    margin-top: 3rem;
  }

  .new-arrivals__menu>li {
    font-size: 1.5rem;
    padding: 0.9rem 3rem 0.7rem 3rem;
    color: #777777;
    margin-left: 2rem;
  }

  .new-arrivals__menu>li.active {
    padding-top: 1rem;
  }

  .new-arrivals__menu {

    justify-content: center;

  }


  .brands-images {
    display: flex;
    justify-content: space-around;
    /* overflow-x: hidden; */

  }

  .brands-images>div>img {
    padding: 0;
    width: 9rem;
    height: 4rem;
    object-fit: fill;
  }


  .trending-collection {
    margin-top: 15rem;

    /* margin-bottom: 8rem; */
  }

  .trending-collection__title {
    font-size: 8rem;
    margin-bottom: 3rem;
  }

  .trending-collection__description {
    font-size: 1.8rem;
    color: #777777;
  }



}

@media screen and (min-width: 900px) {


  .header__logo {
    font-size: 2rem;
    padding-left: 2rem;
    /* margin: 1rem; */
  }

  .main {
    display: flex;
    align-items: center;
    margin-right: 2rem;

  }

  .responsive {
    display: none;
  }

  .main-list {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-right: 1rem;
  }

  .main-list>a>li {
    font-size: 1.5rem;
    margin-left: 1.2rem;

  }

  .header__icons {
    margin-top: 0rem;
    margin-right: 5rem;

  }



  .header__icons--buy-icon {
    width: 1.8rem;
    margin-right: 1rem;
  }

  .header__icons--heart-icon {
    width: 1.8rem;
    margin-right: 1rem;

  }

  .header__icons--user-icon {
    width: 1.5rem;
    margin-right: 1rem;

  }

  .header__bars {
    display: none;

  }

  .search {
    margin-top: 0rem;
    margin-left: 1rem;
    width: 25rem;


  }

  .search>img {
    right: 0.5rem;
    top: 0.5rem;
  }

  .search>input {
    padding: 1.5rem 0.7rem 1.5rem 2.2rem;
  }


  .header__content-title>span {
    color: rgb(177, 177, 177);
    font-size: 2.4rem;

  }

  .header__content-title>h1 {
    font-size: 3.2rem;
    margin-top: 2.5rem;
    line-height: 3.2rem;
  }

  .btn {
    height: 5rem;
    width: 17rem;
    padding: 1.3rem 2rem 3rem 2rem;
    font-size: 1.8rem;
    margin-top: 2.2rem;

  }

  .options {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .options>div {
    max-width: 18rem;

  }

  .collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

  }

  .collection__left {
    max-width: 43rem;
    width: 100%;
    height: 23rem;
    margin-top: 2rem;
    grid-column: 2/3;

  }

  .collection__right {
    margin-top: 0rem;
    max-width: 43rem;
    height: 23rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .baby-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    place-items: center;
    margin-bottom: 3rem;
    border: none;
  }

  .baby-collection__right {
    grid-column: 2/3;
  }

  .baby-collection__right>img {
    width: 40rem;
    height: 32rem;
  }


  .baby-collection__left {
    grid-row: 1/2;
  }

  .baby-collection__left>h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
  }

  .baby-collection__left>div.btn {
    margin-left: 0rem;
  }


  .regtangle>strong {

    padding-top: 1.8rem;

  }


  .new-arrivals {
    margin-top: 8rem;

    margin-bottom: 8rem;
  }

  .new-arrivals__title {
    font-size: 6rem;
    margin-bottom: 4rem;
  }

  .new-arrivals__description {
    font-size: 2rem;
    color: #777777;
  }

  .new-arrivals__menu {
    margin-top: 4rem;
  }

  .new-arrivals__menu>li {
    font-size: 2rem;
    padding: 1.2rem 4rem 1rem 4rem;
    color: #777777;
    margin-left: 2rem;
  }

  .new-arrivals__menu>li.active {
    padding-top: 1rem;
  }

  .new-arrivals__menu {

    justify-content: center;

  }

  .brands-images>div>img {
    padding: 0;
    width: 12rem;
    height: 5rem;
    object-fit: fill;
  }

  .top-brands>h2 {
    margin-top: 3rem;
    font-size: 4rem;

  }

  .top-brands>p {

    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;

  }
}


@media screen and (min-width: 1024px) {

  .header__logo {
    font-size: 2.2rem;

  }

  .main-list>a>li {
    font-size: 1.5rem;
    margin-left: 2rem;

  }

  .search {
    margin-top: 0rem;
    /* margin-left: 2rem; */

  }

  .header__icons--buy-icon {
    width: 2rem;
    margin-right: 2rem;
  }

  .header__icons--heart-icon {
    width: 2rem;
    margin-right: 2rem;

  }

  .header__icons--user-icon {
    width: 1.5rem;
    margin-right: 2rem;

  }

  .header__content {
    margin-top: 6rem;
  }

  .header__content-title>span {
    color: rgb(177, 177, 177);
    font-size: 2.5rem;

  }

  .header__content-title>h1 {
    font-size: 4rem;
    margin-top: 4rem;
    line-height: 3.8rem;
  }

  .btn {
    height: 7rem;
    width: 20rem;
    padding: 2.2rem 2rem 3rem 2rem;
    font-size: 2.5rem;
    margin-top: 3rem;

  }

  .options {
    margin-top: 10rem;


  }

  .options>div {
    max-width: 18rem;

  }

  .collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-left: 1rem; */
    /* justify-content: center; */
    place-items: center;

  }

  .collection__left {
    max-width: 55rem;
    height: 25rem;
    margin-top: 2rem;

  }

  .collection__left>img {
    width: 60%;
  }

  .collection__left>div {
    margin-top: 3rem;
  }


  .collection__right {
    /* margin-top: 0rem; */
    max-width: 55rem;
    height: 25rem;


  }

  .collection__right>img {
    width: 55%;
  }

  .collection__right>div {
    margin-top: 3rem;
  }

}